
@{
    ViewBag.Title = "About";
}



<div class="parallax-window" data-parallax="scroll" data-image-src="../Content/img/banner/marjinal-mimarlik-ust.jpg">
    <div class="parallax-content container">
        <h1 class="carousel-title">HAKKIMIZDA</h1>
    </div>
</div>
<div class="content-lg container">
    <div class="row margin-b-20">
        <div class="col-sm-6">
            <h2>BİZ KİMİZ?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 sm-margin-b-50">
            <p align="justify">Zengin Enerji olarak şirketimizin hedefleri ve kurumsal değerleri öncelikle insan gücünde kalite, insan kaynaklarını en verimli biçimde değerlendirmek çalışanlarımızın mesleki ve kişisel gelişimlerin de katkıda bulunmak amacıyla eğitimler yapılmaktadır. </p>
            <p align="justify">Firma kapasitemiz ve yeteneklerimiz doğrultusun da müşterilerimizin ürün ve hizmetlerimize olan beklentilerini dünya standartların da karşılayabilmek.</p>
            <p align="justify"> Ülkenin önde gelen güneş enerji sistemeleri üreticisi olarak başarı da bireyselliği değil kurumsallığı ön plan da tutmaktayız. Şirket amaçlarına uygun olarak belirlediğimiz hedeflerimize ise ancak yetkin, bilgili, sektör de bulunmaktan memnun olan, deneyimli ve hizmet odaklı düşünen çalışanlar ile ulaşacağımıza inanıyoruz. Personellerimize eğitim, seminerler ve kariyer planlama çalışmalarımız ile iş gelişimlerine ve sektörde ki motivasyonlarına katkı sağlamak doğrultusunda ; çalışanlarımıza sadece bir personel olarak değil sosyal bir unsur bakış açısıyla yönelerek tercih edilen bir şirket ve saygın bir firma yolunda ilerlemekteyiz. </p>
            <h4>VİZYONUMUZ</h4>
            <p align="justify">Vizyon olarak şirketimizi daha ileri konmlara getirmek ve şirket potansiyelimizin üstünde işler başarmak ve bunun yanın da hem ülkemiz hemde dünya çapımda çalışmakarımız ile tanınmaktır. </p>
            <h4>MİSYONUMUZ</h4>
            <p align="justify">Misyon olarak ülkemizde yenilenebilir enerji kaynaklarıyla ilgili sektörümüze yön vermek ve ülkemizde gelişmesi için yaptığımız çalışmalarda destek vermeye çalışıyoruz.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="../Content/img/hakkimizda.jpg" alt="Bahçelievler Zengin Enerji" title="Zengin Enerji">
        </div>
    </div>
</div>
