
@{
    ViewBag.Title = "Contact";
}

<div class="parallax-window" data-parallax="scroll" data-image-src="../Content/img/banner/marjinal-mimarlik-ust.jpg">
    <div class="parallax-content container">
        <h1 class="carousel-title">İLETİŞİM</h1>
    </div>
</div>
<div class="section-seperator">
    <div class="content-lg container">
        <div class="row">
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft"data-wow-duration=".3" data-wow-delay=".3s">
                    <h3><a>Adres</a> <span class="text-uppercase margin-l-20">Zengin Enerji</span></h3>
                    <p>
                        Vali Mithat Bey mahallesi, Koçibey Caddesi, Yakamoz Sitesi altı,Zengin Enerji<br/>
                        İpekyolu/Van
                    </p>
                       <br/>
                    <p>
                         Turgut Özal Mahallesi, eski kaymakamlik karşısı, Zengin Enerji <br/>
                         İdil/Şırnak
                   </p>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h3><a>Telefon</a> <span class="text-uppercase margin-l-20">Zengin Enerji</span></h3>

                    <ul class="list-unstyled contact-list">
                        <li><i class="margin-r-10 color-base icon-call-out"></i> 0544 669 58 72 </li>
                        <li><i class="margin-r-10 color-base icon-call-out"></i> 0544 919 24 56 </li>
                        <li><i class="margin-r-10 color-base icon-envelope"></i> zenginenergy@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h3><a>Çalışma Saatleri</a> <span class="text-uppercase margin-l-20">Zengin Enerji</span></h3>
                    <p>Hafta içi: 09:00 - 18.00 | Pazar: Kapalı</p>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d399093.6963879046!2d43.305335869791556!3d38.60472295975298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401242c70538b065%3A0x589a917c6dccb6e7!2zxLBwZWt5b2x1L1Zhbg!5e0!3m2!1str!2str!4v1664977667970!5m2!1str!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


