
@{
    ViewBag.Title = "Index";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="container">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="~/Content/img/banner/bahcelievler-ic-mimarlik.jpg" alt="Bahçelievler İç Mimarlık">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <h1 class="slider-baslik">Zengin Enerji</h1>
                        <span class="aciklama">Hayallerinizin Ötesini Tasarlıyoruz...</span><br>
                        <a href="#" class="anasayfabtn" tabindex="-1">Detaylar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/img/banner/magaza-dekorasyonu.jpg" alt="Mağaza Dekorasyonu">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <span class="slider-baslik">KAMU VE TİCARİ ALANLAR</span><br>
                        <span class="aciklama">Zengin Enerji</span><br>
                        <a href="#" class="anasayfabtn" tabindex="-1">Detaylar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/img/banner/mobilya-ve-dekorasyon.jpg" alt="Mobilya ve Dekorasyon">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <span class="slider-baslik">GÜNEŞ SANTRALLERİ</span><br>
                        <span class="aciklama">Zengin Enerji</span><br>
                        <a href="#" class="anasayfabtn" tabindex="-1">Detaylar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-color-sky-light2" data-auto-height="true">
    <div class="content-lg container">
        <div class="row row-space-1 margin-b-50">
            <h2>Faaliyet Alanlarımız</h2>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-chemistry"></i>
                        </div>
                        <div class="service-info">
                            <span class="h3b">KONUTLAR</span>
                            <p class="margin-b-5">Zengin Enerji güneş paneli sistemi, size karbon salımınızı azaltan güvenli bir yatırım aracıdır ve enerji kullanımlarda avantaj olmasını sağlar. Ürünlerimiz beklediğiniz enerjiyi sunar ve elektrik faturanızdaki azalma ve hatta kurulan sistem büyüklüğüne göre elektrik faturalarından tamamen kurtulmanızı sağlar.</p>
                        </div><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-screen-tablet"></i>
                        </div>
                        <div class="service-info">
                            <span class="h3b">KAMU KURUMLARI ve TİCARİ KURULUŞLAR</span>
                            <p class="margin-b-5">Kamu Kurumları veya Belediyler elektrik ihtiyaçlarınız yüksek ve bütçelerinizi zorluyorsa ; en iyi yatırım aracı Güneş Enerji sistemleridir. İster kurumunuzun çatısına , isterseniz kurumunuza ait bir azariye güneş enerji sistemi kurarak yapacağınız yatırımla çevreye duyarlı bir santrale sahip olabilirsiniz..</p>
                        </div><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-badge"></i>
                        </div>
                        <div class="service-info">
                            <span class="h3b">GÜNEŞ SANTRALLERİ</span>
                            <p class="margin-b-5">Güneş enerjisi santral kurulumda dikkat edilmesi gereken en önemli hususlardan biri güneş panellerinin verimliğidir.  Zengin Enerji güneş panellerinin verimliği Avrupa’da ve Ülkemizde en yüksek sevide olan ürünlerdir. Diğer husus ise Devletimizin Yerli Malı panellerde , ihtal panellere göre vermiş olduğunuz elektrik ücretinin yüksek olmasıdır. Buda %100 yerli panel olan Zengin Enerji güneş panellerinin tercih etmenizi sağlamaktadır..</p>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-b-50 ">
            <h2>Hizmetlerimiz</h2>
            <p>Zengin Enerji Üst düzey teknolojiye sahip ürünlerimiz enerji tasarrufu sağlarken kaynakları koruyan güvenli bir yatırım yapmanıza da olanak sağlar.</p><br>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20 ">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="ic-mimari-tasarim-uygulama.html"> <img class="img-responsive efk" src="~/Content/img/hizmetler/ic-mimari-tasarim-uygulama.jpg" alt="İç Mimari Tasarım Uygulama" title="İç Mimari Tasarım Uygulama"></a>
                    </div>
                </div>
                <h4><a href="ic-mimari-tasarim-uygulama.html">KONUTLAR</a></h4>
                <p align="justify"> Zengin Enerji ; bölgenizdeki kurulum ekiplerimiz tarafından ön çalışmaları yapılır ve size en uygun maliyetler ile anahtar teslim güneş enerjisi sistem kurumları yapılır..</p>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="mimari-danismanlik.html">  <img class="img-responsive efk" src="~/Content/img/hizmetler/mimari-danismanlik.jpg" alt="Mimari Danışmanlık" title="Mimari Danışmanlık"></a>
                    </div>
                </div>
                <h4><a href="mimari-danismanlik.html"></a></h4>
                <p align="justify">
                    Her türlü projenin proje yönetimini, müşteri memnuniyetini ön planda tutarak sizlere detaylı bir şekilde sunarak hizmet vermekteyiz. Hizmetimizin kapsamı, yapıların proje ve teknik şartnamelere uygun, yapılan işin gerek ve niteliklerine uygun olarak üretilmesini sağlamaktır.
                </p>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="mobilya-ve-dekorasyon.html"><img class="img-responsive efk" src="~/Content/img/hizmetler/mobilya-ve-dekorasyon.jpg" alt="Mobilya ve Dekorasyon" title="Mobilya ve Dekorasyon"></a>
                    </div>
                </div>
                <h4><a href="mobilya-ve-dekorasyon.html">Güneş Santralleri</a></h4>
                <p align="justify">Lisanssız Üretimler için; 1mW’a kadar lisans almadan sadece TEİAŞ’a yapacağınız başvuru sonucunda güneş enerjisi santraline sahip olabilirsiniz. Yapacağınız yatırımı kısa sürede finase ederek , kalan zaman içerisinde kar elde edebilirsiniz. Devletimizin alım garantisi Güneş Enerjisinde elektrik üretim sistemlerine sizde sahip olabilirsiniz. Diğer santral maliyetlerine göre çok düşük maliyetle sizde bir santrale sahip olabilirsiniz.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="yapi-dekorasyon.html"> <img class="img-responsive efk" src="~/Content/img/hizmetler/yapi-dekorasyon.jpg" alt="Yapı Dekorasyon Uygulamaları " title="Yapı Dekorasyon Uygulamaları"></a>
                    </div>
                </div>
                <h4><a href="yapi-dekorasyon.html"> </a></h4>
                <p align="justify">Lisanslı Üretim için; EPDK’ya yapacağınız başvuru ile çok büyük ölçekli güneş enerjisi santrallerine sahip olabilirsiniz. Seçilecek bölgelere ve alınan lisans büyüklüğüne göre yatırım yapabilirsiniz.</p>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="elektrik-mekanik-proje-ve-uygulamasi.html"> <img class="img-responsive efk" src="~/Content/img/hizmetler/elektrik-mekanik-proje-ve-uygulamasi.jpg" alt="Elektrik, Mekanik Proje ve Uygulaması" title="Elektrik, Mekanik Proje ve Uygulaması"></a>
                    </div>
                </div>
                <h4><a href="elektrik-mekanik-proje-ve-uygulamasi.html"></a>Kamu ve Ticari Alanlar</h4>
                <p align="justify">Yapılacak yatırım miktarına göre , elektrik masraflarınızı ortadan kaldırabilirsiniz.Zengin Enerji, proje finansmanı, geliştirilmesi ve sistem kurulumunda sayısız referansları ile hem kurulum işlemlerine hemde ürünlere garanti vermektedir.</p>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="bakim-ve-onarim-hizmetleri.html"><img class="img-responsive efk" src="~/Content/img/hizmetler/bakim-ve-onarim-hizmetleri.jpg" alt="Bakım ve Onarım Hizmetleri" title="Bakım ve Onarım Hizmetleri"> </a>
                    </div>
                </div>
                <h4><a href="bakim-ve-onarim-hizmetleri.html"></a> </h4>
                <p align="justify">Ticari kuruluşlar ; üniversiteler , hastaneler , okullar , fabrikalar ve elektrik tüketimi yüksek bütün kuruluşlar için bütün elektrik masraflarını karşılama imkanına güneş enerji sistemleriyle mümkündür. Elektirk tüketim miktarınıza göre yapılacak yatırımla elektrik tüketim maliyetini ortadan kaldırabilir , bu sayede hem çevre duyarlı sistemler sahip olursunuz hemde en güvenli üretim modeline.</p>
            </div>
        </div>
    </div>
</div>



